MQTT_PORT  = 1883
MODEL_DIR  = "models"
MQTT_TOPIC = "smarthome/some_topic"
MQTT_BROKER     = "x.x.x.x"
LOCAL_API_PORT  = 8080
LOCAL_SERVER_IP = "x.x.x.x"
ANOMALY_TAGGING_ENDPOINT       = "/api/anomaly_tagging"
FETCH_MODULE_IDS_ENDPOINT      = "/api/unique_modules"
FETCH_DIAGNOSTIC_DATA_ENDPOINT = "/api/params"